.App {
  text-align: center;
  font-family: 'Dokdo', cursive;
  
}

*{
  box-sizing: border-box;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  margin-top: 20px;
}

button {
  border: none;
  background: transparent;
  height: 35px;
  font-size: 30px;
  font-family: 'Dokdo', cursive;
}
input {
  border: none;
  border-bottom: 1px solid black;
  font-size: 30px;
  text-align: center;
  width: 200px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

h1 {
  border: 5px solid lightgrey;
  padding: 5px;
  border-radius: 10px;
  width: 35%;
}

::placeholder {
  font-family: 'Dokdo', cursive;
}